body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
 
.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card{
    width: 45%
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

.creative {
  color: midnightblue;
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* Full width on small screens */
    margin: 10px 0; /* Add some spacing */
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}